{% extends 'base.html.twig' %}

{% block title %}Editar Categoria{% endblock %}

{% block body %}
    <h1>Editar Categoria</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}

    <button type="submit">Enviar</button>
    {{ form_end(form) }}
{% endblock %}
