{% extends 'base.html.twig' %}

{% block title %}Category List{% endblock %}

{% block body %}
    <h1>Category List</h1>

    <ul>
        {% for category in categories %}
            <li>
                {{ category.name }}
                <a href="{{ path('app_category_edit', {'id': category.id}) }}">Edit</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
